<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>Bienvenidos a la API de F1</h1>
  <p>Puedes consultar:</p>
  <ul>
    <li><a href="/f1-driver">Lista de Pilotos</a></li>
    <li><a href="/f1-driver/1">Piloto con ID 1</a></li>
    <li><a href="/f1-driver/20">Piloto con ID 20</a></li>
  </ul>
  <p>También pudes añadir pilotos haciendo post a:</p>
  <ul>
    <li><a href="/f1-driver">/f1-driver</a></li>
  </ul>
  <p>Y mandando el body correspondiente:</p>
</body>

</html>